langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-community
langchain-groq
langchain-ollama
langchain-openai
langchain-text-splitters
langchain-unstructured
langdetect
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langgraph-supervisor
langsmith
chromadb
bm25s
ipython
pydantic
transformers
pandas
numpy
torch
safetensors
tokenizers
tqdm
typing_extensions
python-dotenv
pandas
deep-translator
sentence-transformers
streamlit-extras
