ipython
minio
# Core Framework
langchain==0.3.21
langchain-core==0.3.45
langchain-ollama==0.2.3
langchain-groq==0.2.4
langgraph==0.3.14

# Data Validation
pydantic==2.10.6

# Search & Database
chromadb==0.6.3
bm25s==0.2.9

# ML & NLP
transformers==4.48.3
torch==2.6.0
sentence-transformers

# Data Processing
pandas==2.2.3
numpy==1.26.4

# Translation & Utils
deep-translator
python-dotenv==1.0.1

# Dashboard
streamlit
streamlit-extras

# Python Extensions
typing_extensions
