langchain==0.3.21
langchain-chroma==0.2.1
langchain-community==0.3.20
langchain-core==0.3.45
langchain-google-community==2.0.7
langchain-groq==0.2.4
langchain-ollama==0.2.3
langchain-openai==0.3.2
langchain-text-splitters==0.3.7
langchain-unstructured==0.1.6
langdetect==1.0.9
langgraph==0.3.14
langgraph-checkpoint==2.0.10
langgraph-prebuilt==0.1.3
langgraph-sdk==0.1.51
langgraph-supervisor==0.0.9
langsmith==0.3.2
chromadb==0.6.3
bm25s==0.2.9
pydantic==2.10.6
transformers==4.48.3
pandas==2.2.3
numpy==1.26.4
torch==2.6.0
safetensors==0.5.2
tokenizers==0.21.0
tqdm==4.67.1
typing_extensions
python-dotenv==1.0.1
pandas
deep-translator
sentence-transformers